visualWorksape/*
ConsulManager/__pycache__/__init__.cpython-38.pyc
.gitignore
ConsulManager/AirTable/__pycache__/__init__.cpython-38.pyc
ConsulManager/AirTable/Cobros/__pycache__/__init__.cpython-38.pyc
ConsulManager/AirTable/Cobros/__pycache__/CobrosManagerAir.cpython-38.pyc
.gitignore
ConsulManager/AirTable/Consultas/__pycache__/ConsultasManagerAir.cpython-38.pyc
ConsulManager/AirTable/Consultas/__pycache__/__init__.cpython-38.pyc
ConsulManager/AirTable/ListaTratamientos/__pycache__/__init__.cpython-38.pyc
ConsulManager/AirTable/ListaTratamientos/__pycache__/ListaTratamientosAir.cpython-38.pyc
ConsulManager/AirTable/PacientesAir/__pycache__/Pacientes.cpython-38.pyc
ConsulManager/AirTable/PacientesAir/__pycache__/__init__.cpython-38.pyc
ConsulManager/AirTable/PagosDentistas/__pycache__/__init__.cpython-38.pyc
ConsulManager/AirTable/PagosDentistas/__pycache__/PagosDentistas.cpython-38.pyc
ConsulManager/AirTable/reportesAir/__pycache__/__init__.cpython-38.pyc
ConsulManager/AirTable/reportesAir/__pycache__/ReportAir.cpython-38.pyc
ConsulManager/AirTable/Tratamientos/__pycache__/__init__.cpython-38.pyc
ConsulManager/AirTable/Tratamientos/__pycache__/TratamientosManagerAir.cpython-38.pyc
ConsulManager/AirTable/Utilities/__pycache__/Fechas.cpython-38.pyc
ConsulManager/AirTable/Utilities/__pycache__/__init__.cpython-38.pyc
ConsulManager/AirTable/Utilities/__pycache__/Validators.cpython-38.pyc
ConsulManager/ConsulCli/__pycache__/__init__.cpython-38.pyc
ConsulManager/ConsulCli/__pycache__/ConsulDataPad.cpython-38.pyc
ConsulManager/ConsulCli/__pycache__/newCobroApp.cpython-38.pyc
ConsulManager/ConsulCli/__pycache__/ConsulLayoutBase.cpython-38.pyc
ConsulManager/ConsulCli/__pycache__/newPacienteApp.cpython-38.pyc
ConsulManager/ConsulCli/__pycache__/newPagoApp.cpython-38.pyc
ConsulManager/ConsulCli/__pycache__/newConsultaApp.cpython-38.pyc
ConsulManager/ConsulCli/__pycache__/newTratamientoApp.cpython-38.pyc
ConsulManager/ConsulCli/__pycache__/validator.cpython-38.pyc
ConsulManager/env/__pycache__/__init__.cpython-38.pyc
ConsulManager/Logger/__pycache__/__init__.cpython-38.pyc
ConsulManager/reportes/__pycache__/__init__.cpython-38.pyc
consulManager.egg-info/dependency_links.txt
consulManager.egg-info/PKG-INFO
consulManager.egg-info/SOURCES.txt
consulManager.egg-info/top_level.txt
